*.pyc
/clic.egg-info/
/pip-selfcheck.json
/bin
/include
/lib
/local
/share
/.cache
/lib64
/etc
/.ipynb_checkpoints/
/pyvenv.cfg
/appconfig.py
/.coverage
/htmlcov/
/dist/

/*.txt
/*.csv
/*.html

/docs/clictagger.*.rst
/docs/_build
